@using RocketEsgop.Infrastructure.Data.ViewModel
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using RocketEshop.Core.Enums
@model RocketEshop.Infrastructure.Data.ViewModel.HomeVM

@{
    ViewData["Title"] = "Search";
}
<img src="~/logo.png" width="10%" />

<form asp-action="Search" class="d-flex my-4 px-4">
    <input asp-for="Filters.QuickSearchFilter" name="QuickSearchFilter" class="form-control m-2" type="search" placeholder="Search">
    <button class="btn btn-primary m-2" type="submit">Search</button>
    <button type="button" class="btn btn-secondary m-2" data-bs-toggle="offcanvas" data-bs-target="#advancedFilters">
        Advanced Search
    </button>
</form>
<div class="row">
    <h4>Results</h4>
    @foreach (GameVM item in Model.Games)
    {
        <div class="col-lg-4 mb-3 d-flex align-items-stretch">
            <div class="card d-flex flex-column justify-content-between mb-3" style="width: 400px;">
                <div class="col-md-12">
                    <div class="card-header text-white bg-primary">
                        @item.Title
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <img src="@item.ImageUrl" style="width: 100%" alt="@item.Title">
                    </div>
                    <div class="col-md-5">
                        <div class="card-body">
                            <p class="card-text"><b>Price: </b>@item.Price &euro;</p>
                            <p class="card-text"><b>Quantity </b>@item.Quantity</p>
                            <p class="card-text"><b>Rating: </b>@item.Rating</p>
                            <div class="my-4">
                                @foreach (Genre genre in item.Genres)
                                {
                                    <span class="badge rounded-pill text-bg-info">@genre.Name</span>
                                }
                            </div>
                            @if (item.Quantity > 0)
                            {
                                <span class="badge fs-6 rounded-pill text-bg-primary">Available</span>
                            }
                            else
                            {
                                <span class="badge fs-6 rounded-pill text-bg-danger">Sold out</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-around">

                    <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">
                        <i class="bi bi-eye-fill"></i> Show Details
                    </a>
                    @if (item.Quantity <= 0)
                    {
                        <a class="btn btn-secondary text-white disabled">
                            <i class="bi bi-cart-plus"></i> Out of Stock
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-success text-white"
                           asp-controller="Orders"
                           asp-action="AddItemToShoppingCart"
                           asp-route-id="@item.Id">
                            <i class="bi bi-cart-plus"></i> Add to Cart
                        </a>
                    }

                </div>
            </div>
        </div>
    }
</div>
<br />
<br />

<form asp-action="Search" class="offcanvas offcanvas-start" style="z-index: 10000" tabindex="-1" id="advancedFilters" aria-labelledby="advancedFilters">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasExampleLabel">Advanced Filter Search</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <h5>Sorting</h5>
            <div class="form-check">
                <select asp-for="Filters.Sorting" name="Sorting" asp-items="@Html.GetEnumSelectList(typeof(SortingFilter))"></select>
            </div>
        </div>
        <hr />
        <div>
            <h5>Availability</h5>
            <div class="form-check">
                <input asp-for="Filters.Availability" name="Availability" type="checkbox" class="form-check-input" />
                <label class="form-check-label" asp-for="Filters.Availability"></label>
            </div>
        </div>
        <hr />
        <div>
            <h5>Price</h5>
            <p>Min - Max</p>
            <div class="row m-0">
                <div class="input-group mb-3">
                    <input type="number" step="5" asp-for="Filters.MinPrice" name="MinPrice" class="form-control" placeholder="Min Price">
                    <span class="input-group-text">-</span>
                    <input type="number" step="5" asp-for="Filters.MaxPrice" name="MaxPrice" class="form-control" placeholder="Max Price">
                </div>
            </div>
        </div>
        <hr />
        <button type="submit" class="btn btn-primary" data-bs-dismiss="offcanvas" aria-label="Apply">Apply</button>
    </div>
</form>