@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["about.us"];
}

<div class="mb-4">
    <h2 class="text-center">@Localizer["about.us"]</h2>
    <img src="~/rocket logo.png" width="10%" class="img-center" />
    <p class="text-center" style="color: white;">@Localizer["about.text"]</p>
</div>
<hr>
<div class="row mt-4">
    <div class="card col-sm-4 col-md-3" style="text-align: center; background: url(https://cdn.wallpapersafari.com/43/97/vt85Jw.png) ;">
        <div>
             <img src="https://64.media.tumblr.com/e0308bd83e684efe25f6b702dabc8862/a573b16385afb9b8-b7/s640x960/ba38a4cbe705ae55023b23c123e6132ccad9d921.png" alt="A dog eating a lollie" style="width:50%">
        </div>
        <div class="container">
            <h3>@Localizer["eleni"]</h3>
            <p class="title">@Localizer["member"]</p>
            <p>@Localizer["hello"]</p>
        </div>
    </div>

    <div class="card col-sm-4 col-md-3" style="text-align: center;background: url(https://i.pinimg.com/474x/02/7e/78/027e785c2bc45603369327cfd35e661b--isometric-art--bit.jpg) ;">
        <div>
            <img src="https://64.media.tumblr.com/5cfebbb6cc3cfd1351da3756ac30587f/tumblr_pg5bbzjsGQ1u2eo2uo8_400.png" alt="Mike" style="width:50%">
        </div>
        <div class="container">
                <h3>@Localizer["george"]</h3>
                <p class="title">@Localizer["member"]</p>
                <p>@Localizer["hello"]</p>
        </div>
    </div>

    <div class="card col-sm-4 col-md-3" style="text-align: center;background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3da7d31f-8479-4d32-8a2e-24d012263a77/de35t1t-363537f1-6d81-4908-a8ef-605ab20a4afd.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzNkYTdkMzFmLTg0NzktNGQzMi04YTJlLTI0ZDAxMjI2M2E3N1wvZGUzNXQxdC0zNjM1MzdmMS02ZDgxLTQ5MDgtYThlZi02MDVhYjIwYTRhZmQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.gU6vz9xabjW10AQKJFSM7HIJHsfFBGTshbx9SwFW_hc) ;">
        <div>
            <img src="https://i.pinimg.com/236x/fa/32/a6/fa32a68574c3e9a8b97da857930a8f22.jpg" alt="John" style="width:50%">
        </div>
        <div class="container">
                <h3>@Localizer["vasilis"]</h3>
                <p class="title">@Localizer["member"]</p>
                <p>@Localizer["hello"]</p>
        </div>
    </div>
    
    <div class="card col-sm-4 col-md-3" style="text-align: center;background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ff3f1ab9-e3ad-4b37-883b-ffb0cc9b5bdc/d96txtj-5d565df7-832c-44b6-870c-6a46028beebf.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2ZmM2YxYWI5LWUzYWQtNGIzNy04ODNiLWZmYjBjYzliNWJkY1wvZDk2dHh0ai01ZDU2NWRmNy04MzJjLTQ0YjYtODcwYy02YTQ2MDI4YmVlYmYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.u-mA3FFps6FoCguiOrGIluikH5xLo__HsPsVW9XgFsM) ;">
        <div>
            <img src="https://i.pinimg.com/564x/24/d1/0a/24d10a00df895b1c7bf3eb5499827f88.jpg" alt="John" style="width:50%">
        </div>
        <div class="container">
                <h3>@Localizer["alex"]</h3>
                <p class="title">@Localizer["member"]</p>
                <p>@Localizer["hello"]</p>
        </div>
    </div>
    
    <div class="card col-sm-4 col-md-3" style="text-align: center;background: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiCMjoOi65cs3nPzslZhOc1Ts2QKlSoO4bPsw-Y4nqOij5MlEb1ylzU0CpgnwO6ZD5zG2XbHkzqIaVzY0EzgxXCXyTUhNIx5Al_Nse8tSmkm--iqs4UnSpi2igTwGMKrhh5K5ki4jCbql-IhFQQj_vpiDkaLAgx9RfepLFOk1YDEVdR5Fdsevhz7mLy/w1600/pixelart%20wallpaper%20(1).png') ;">
        <div>
            <img src="https://64.media.tumblr.com/552c55f641a73502774f1cacfd14c466/76285e96a00d7583-43/s540x810/04ff00319d9fdf88ab33d6010450c913a934ac2a.png" alt="John" style="width:50%">
        </div>
        <div class="container">
                <h3>@Localizer["dimitris"]</h3>
                <p class="title">@Localizer["member"]</p>
                <p>@Localizer["hello"]</p>
        </div>

    </div>
</div>
