@inject IViewLocalizer Localizer

@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using RocketEshop.Core.Enums
@using RocketEshop.Infrastructure.Data.ViewModel
@model RocketEshop.Infrastructure.Data.ViewModel.HomeVM

@{
    ViewData["Title"] = "All games";
}
<img src="~/logo.png" width="10%" />

<div id="carouselExampleCaptions" class="carousel slide mb-4" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://www.wetanz.com/media//amasty/shopby/option_images/tomb-raider-anniversary-banner.jpg" class="d-block w-100" alt="banner from the game 'Tomb Raider' with a label." height="430">
            <div class="carousel-caption d-none d-md-block label-banner">
                <h4>@Localizer["slide1a"]</h4>
                <p><i>@Localizer["slide1b"]</i></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://wp-uploads.qualbert.com/2022/03/Divider.png" class="d-block w-100" alt="banner from the game 'Elden Ring' with a label." height="430">
            <div class="carousel-caption d-none d-md-block label-banner">
                <h4>@Localizer["slide2a"]</h4>
                <p><i>@Localizer["slide2b"]</i></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://external-preview.redd.it/WjNqJN8azEEu5xlYbO0kw0kcBFGqS1ukgAQ3hK_vULg.jpg?auto=webp&s=215286930af1142e3f0013a4845421e8f39fe270" class="d-block w-100" alt="banner from the game 'Persona 5' with a label." height="430">
            <div class="carousel-caption d-none d-md-block label-banner">
                <h4>@Localizer["slide3a"]</h4>
                <p><i>@Localizer["slide3b"]</i></p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<h5>@Localizer["looking.for.something"]</h5>
<form asp-controller="Browse" asp-action="Search" class="d-flex my-4 px-4">
    <input name="QuickSearchFilter" class="form-control m-2" type="search" placeholder="Search">
    <button class="btn btn-primary m-2" type="submit">@Localizer["search"]</button>
</form>
<div class="row mb-4">
    <h4>@Localizer["latest.additions"]</h4>
    @foreach (GameVM game in Model.LatestReleases)
    {
        @Html.Partial("Components/GameDetails", game)
    }
    <form asp-controller="Browse" asp-action="Search" class="d-flex justify-content-center">
        <input name="Sorting" class="form-control m-2" type="hidden" value="@SortingFilter.ReleaseDateAsc">
        <button class="btn btn-outline-primary" type="submit">@Localizer["show.more"]...</button>
    </form>
</div>
<div id="carouselExampleSlidesOnly " class="carousel slide mb-4" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://blc.edu/wp-content/uploads/2021/09/Esports-Banner-2021.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://corp.formula1.com/wp-content/uploads/2021/10/ProChampBanner-scaled.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://previews.123rf.com/images/annetdebar/annetdebar1904/annetdebar190400020/123825175-esports-interior-banner-workplace-cyber-sportsman-gamer-a-desk-with-a-computer-and-headphones-and.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
<div class="row mb-4">
    <h4>@Localizer["top.rated"]</h4>
    @foreach (var game in Model.GoodRatings)
    {
        @Html.Partial("Components/GameDetails", game)
    }
    <form asp-controller="Browse" asp-action="Search" class="d-flex justify-content-center">
        <input name="Sorting" class="form-control m-2" type="hidden" value="@SortingFilter.RatingAsc">
        <button class="btn btn-outline-primary" type="submit">@Localizer["show.more"]...</button>
    </form>
</div>
<div class="row mb-4">
    <h4>Trailers</h4>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <iframe width="400" height="350" src="https://www.youtube.com/embed/_F6YBwIPzmk" title="Star Wars Jedi: Survivor - Official Story Trailer" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                &nbsp; &nbsp;
                <iframe width="400" height="350" src="https://www.youtube.com/embed/oIchGA6p5ZY" title="Horizon Forbidden West: Burning Shores - Pre-Order Trailer | PS5 Games" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                &nbsp; &nbsp;
                <iframe width="400" height="350" src="https://www.youtube.com/embed/huZSE-kM5fY" title="Ace Racer - Official Trailer" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
                <iframe width="400" height="350" src="https://www.youtube.com/embed/YilVs3-B42k" title="Aliens: Dark Descent - Exclusive Official Gameplay Release Date Trailer" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <iframe width="400" height="350" src="https://www.youtube.com/embed/c8K7P_5JLs8" title="FORT SOLIS Gameplay trailer" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                &nbsp; &nbsp;
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
</div>
</div>
</div>