@using RocketEshop.Infrastructure.Data.ViewModel
@model IEnumerable<RocketEshop.Infrastructure.Data.ViewModel.GameCSVRecordVM>

@{
    ViewData["Title"] = "CSV Insert";
}

<h1>Insert CSV</h1>


<p>Choose the CSV file you wish to upload from your directory and then click the "Upload" button. Review the file and if everything is okay click the "Submit" button. The new products will be added automatically and you will be redirected to the "Games" page.</p>
<hr />
<form asp-controller="Games" asp-action="CsvInsert" method="post" enctype="multipart/form-data">
    <input class="btn-close-white" type="file" name="file"/>
    <hr />
    <button class="btn-close-white" type="submit">Upload</button>
</form>

@if(Model.Count() > 0)
{
    <hr />
    <table class="table tale-bordered table-striped">
        <thead>
        <tr>
            <td>Title</td>
            <td>Price</td>
            <td>ImageUrl</td>
            <td>Quantity</td>
            <td>Rating</td>
            <td>Release Date</td>
            <td>Description</td>
            <td>Genres</td>
        </tr>
        </thead>
        <tbody>
        @foreach (GameCSVRecordVM game in Model)
        {
            <tr>
                <td>@game.Title</td>
                <td>@game.Price</td>
                <td>@game.ImageUrl</td>
                <td>@game.Quantity</td>
                <td>@game.Rating</td>
                <td>@game.ReleaseDate</td>
                <td>@game.Description</td>
                <td>@game.Genres</td>
            </tr>
        }
        </tbody>
    </table>
    <form asp-controller="Games" asp-action="CsvInsertConfirm" method="post">
        <button class="btn-success" type="submit">Submit</button>
    </form>
}