@inject IViewLocalizer Localizer

@using Microsoft.AspNetCore.Mvc.Localization
@using RocketEshop.Infrastructure.Data.ViewModel
@model IEnumerable<RocketEshop.Infrastructure.Data.ViewModel.GameCSVRecordVM>?

@{
    ViewData["Title"] = Localizer["csv.insert"];
}

<h2>@Localizer["csv.insert"]</h2>


<p>@Localizer["csv.directions"]</p>
<hr />
<form asp-controller="Games" asp-action="CsvInsert" method="post" enctype="multipart/form-data">
    <input type="file" name="file" required="required" />
    <hr />
    <button class="btn btn-primary" type="submit">@Localizer["upload"]</button>
</form>

@if(Model != null && Model.Any())
{
    <hr />
    <table class="table tale-bordered table-striped">
        <thead>
        <tr>
            <td>@Localizer["title"]</td>
                <td>@Localizer["price"]</td>
                <td>@Localizer["img.url"]</td>
                <td>@Localizer["quantity"]</td>
                <td>@Localizer["rating"]</td>
                <td>@Localizer["release.date"]</td>
                <td>@Localizer["description"]</td>
                <td>@Localizer["genres"]</td>
        </tr>
        </thead>
        <tbody>
        @foreach (GameCSVRecordVM game in Model)
        {
            <tr>
                <td>@game.Title</td>
                <td>@game.Price</td>
                <td>
                    <img src="@game.ImageUrl" alt="import image" height="64"/> 
                </td>
                <td>@game.Quantity</td>
                <td>@game.Rating</td>
                <td>@game.ReleaseDate</td>
                <td class="">@game.Description</td>
                <td>@String.Join(", ", game.Genres)</td>
            </tr>
        }
        </tbody>
    </table>
    <form asp-controller="Games" asp-action="CsvInsertConfirm" method="post">
        <button class="btn btn-success" type="submit">@Localizer["submit"]</button>
    </form>
}