@inject IViewLocalizer Localizer

@using Microsoft.AspNetCore.Mvc.Localization
@using RocketEshop.Core.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RocketEshop.Infrastructure.Data.ViewModel.GameCreateUpdateVM;

@{
    ViewData["Title"] = Localizer["edit"];
}

<h2>@Localizer["edit"]</h2>

<hr />
<form asp-action="Edit" class="px-4">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-4">
                <label asp-for="Title" class="control-label">@Localizer["title"]</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-4">
                <label asp-for="ReleaseDate" class="control-label">@Localizer["release.date"]</label>
                <input class="form-control" type="date" asp-for="ReleaseDate" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-4">
                <label asp-for="Price" class="control-label">@Localizer["price"]</label>
                <input asp-for="Price" class="form-control" type="number" step="0.01" min="0" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-4">
                <label asp-for="Quantity" class="control-label">@Localizer["quantity"]</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-4">
                <label asp-for="Genres" class="control-label">@Localizer["genres"]</label>
                <select asp-for="Genres" class="selectpicker form-control" multiple="multiple" asp-items="@TempData["genreOptions"] as SelectList"></select>
                <span asp-validation-for="Genres" class="text-danger"></span>
                <p>@Localizer["genre.note"]</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-4">
                <label asp-for="ImageUrl" class="control-label">@Localizer["img.url"]</label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group text-center mt-2">
                <img id="ProfilePicturePreview" class="border-info" style="max-width: 150px" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-4">
                <label asp-for="Rating" class="control-label">@Localizer["rating"]</label>
                <select asp-for="Rating" class="form-control">
                    @foreach (Rating rating in Enum.GetValues(typeof(Rating)))
                    {
                        {
                            <option value="@rating">@rating.ToString()</option>
                        }
                    }
                </select>
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group mb-4">
                <label asp-for="Description" class="control-label">@Localizer["description"]</label>
                <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group mb-4">
        <input type="submit" value=@Localizer["save"] class="btn btn-primary mt-2" />
    </div>
</form>

<div>
    <a asp-action="Index">@Localizer["back.to.list"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ImageUrl").val();
        })

        $("#ImageUrl").on("change", function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $(this).val();
        })
    </script>
}
