@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<RocketEshop.Core.Models.Game>
@{
    ViewData["Title"] = Localizer["game.list"];
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">@Localizer["game.list"]</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Games" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> &nbsp; @Localizer["add.new.game"]
            </a>
        </div>
    </div>
</div>

<table class="table tale-bordered table-striped" style="width:100%">
    <thead>
        <tr class="table-primary">
            <th>
                @Localizer["img.url"]
            </th>
            <th>
                @Localizer["title"]
            </th>
            <th>
                @Localizer["price"]
            </th>
            <th>
                @Localizer["quantity"]
            </th>
            <th>
                @Localizer["release.date"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr >
                <td>
                    <img src="@obj.ImageUrl" style="width: 50%;" alt="@obj.Title">
                </td>
                <td>
                    @obj.Title
                </td>
                <td>
                    @obj.Price &euro;
                </td>
                <td>
                    @obj.Quantity
                </td>
                <td>
                    @obj.ReleaseDate.ToString("dd/MM/yy")
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">

                        <a asp-controller="Games" asp-action="Edit" asp-route-id="@obj.Id"
                           class="btn btn-primary mx-2"><i class="bi bi-pencil"></i>@Localizer["edit"]</a>
                        <a asp-controller="Games" asp-action="Delete" asp-route-id="@obj.Id"
                           class="btn btn-danger mx-2"><i class="bi bi-trash"></i>@Localizer["delete"]</a>

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
