@using Microsoft.AspNetCore.Mvc.Localization
@using RocketEshop.Core.Enums
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RocketEshop</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    @*for bootstrap theme*@
    <link rel="stylesheet" href="~/css/bootstrapTheme.css"/>
    @*for toast popup*@
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/RocketEshop.styles.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body class="my-gradient">
<header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-default my-bg-1" style="border: none;">
        <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/brand-logo.png" width="50%" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                </ul>
                <button type="button" class="btn btn-outline-info mx-4" data-bs-toggle="tooltip" data-bs-title="@Localizer["change.language.tooltip"]" onclick="changeLanguage()">
                    <img src="@Localizer["flag"]" alt="lang_flag" height="16"/>
                </button>
                <partial name="_Identity.cshtml" />
            </div>
        </div>
    </nav>
    </header>
    @*second navbar - don't put in header or sticky-top won't work*@
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark my-bg" style="border:none;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item" style="padding-left:30px;padding-right:30px;">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                           <b>@Localizer["home"]</b>
                        </a>
                    </li>
                    <li class="nav-item" style="padding-left:30px;padding-right:30px;">
                        <a class="nav-link" asp-area="" asp-controller="Browse" asp-action="Index">
                            <b>@Localizer["browse"]</b>
                        </a>
                    </li>
                    <li class="nav-item" style="padding-left:30px;padding-right:30px;">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">
                            <b>@Localizer["about.us"]</b>
                        </a>
                    </li>
                    <li class="nav-item" style="padding-left:30px;padding-right:30px;">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">
                            <b>@Localizer["contact.us"]</b>
                        </a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole(UserRole.ADMIN.ToString()))
                    {
                        <li class="nav-item dropdown" style="padding-left:30px;padding-right:30px;">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><b>@Localizer["cms"]</b></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Games" asp-action="Index">@Localizer["games"]</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Genres" asp-action="Index">@Localizer["genre"]</a>
                                    <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Games" asp-action="CsvInsert">@Localizer["csv.insert"]</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
<br />
<div class="container">
    <main role="main" class="pb-3">
        @*to show toast popup*@
        <partial name="_Notification"/>
        @RenderBody()
    </main>
</div>
<br /><br /><br />
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - RocketEshop - <a asp-area="" asp-controller="Home">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@*for bootstrap5 bundle*@
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="js/tooltip.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
