@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@using RocketEshop.Core.Enums
@model List<Order>

@{ 
    ViewData["Title"] = Localizer["all.orders"];
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>@Localizer["list.orders"]</h4>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>@Localizer["order.id"]</th>
                    <th>@Localizer["items"]</th>
                    <th>@Localizer["total"]</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole(UserRole.ADMIN.ToString()))
                    {
                        <th>@Localizer["user"]</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td class="align-middle">@order.Id</td>
                        <td class="align-middle">
                            <ul style="list-style-type:none">
                                @foreach (var item in order.OrderItems)
                                {
                                    <li>
                                        <div class="alert alert-info" role="alert">
                                            <span class="badge bg-success">@item.Amount</span> [@item.Price.ToString("c")] - @item.Game.Title
                                        </div>
                                    </li>
                                }
                            </ul>
                        </td>
                        <td class="align-middle">
                            @order.OrderItems.Select(m => m.Game.Price * m.Amount).Sum().ToString("c")
                        </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole(UserRole.ADMIN.ToString()))
                        {
                            <td class="align-middle"> @order.User.FullName </td>
                        }
                        </tr>
                }
            </tbody>
        </table>

    </div>
</div>