@inject IViewLocalizer Localizer

@using Microsoft.AspNetCore.Mvc.Localization
@using RocketEshop.Core.Models;
@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = Localizer["list.users"];
}
@*Μόνο για Admin*@
<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>@Localizer["list.users"]</h4>
        </p>

        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Localizer["fullname"]</th>
                    <th>@Localizer["username"]</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>