@model RocketEshop.Infrastructure.Data.ViewModel.GameVM

<div class="col-lg-4 mb-3 d-flex align-items-stretch">
    <div class="card d-flex flex-column justify-content-between mb-3" style="width: 500px;">
        <div class="col-md-12">
            <div class="card-header text-white bg-primary">
                @Model.Title
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <img src="@Model.ImageUrl" style="width: 100%" alt="@Model.Title">
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <p class="card-text"><b>Price: </b>@Model.Price.ToString("c")</p>
                    <p class="card-text"><b>Quantity </b>@Model.Quantity</p>
                    <p class="card-text"><b>Rating: </b>@Model.Rating</p>
                    <div class="my-4">
                        @foreach (Genre genre in Model.Genres)
                        {
                            <span class="badge rounded-pill text-bg-info">@genre.Name</span>
                        }
                    </div>
                    @if (Model.Quantity > 0)
                    {
                        <span class="badge fs-6 rounded-pill text-bg-primary">Available</span>
                    }
                    else
                    {
                        <span class="badge fs-6 rounded-pill text-bg-danger">Sold out</span>
                    }
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-around">

            <a class="btn btn-outline-primary" asp-controller="Games" asp-action="Details" asp-route-id="@Model.Id">
                <i class="bi bi-eye-fill"></i> Show Details
            </a>
            @if (Model.Quantity <= 0)
            {
                <a class="btn btn-secondary text-white disabled">
                    <i class="bi bi-cart-plus"></i> Out of Stock
                </a>
            }
            else
            {
                <a class="btn btn-success text-white"
                   asp-controller="ShoppingCart"
                   asp-action="AddItemToShoppingCart"
                   asp-route-id="@Model.Id">
                    <i class="bi bi-cart-plus"></i> Add to Cart
                </a>
            }

        </div>
    </div>
</div>
